<h1>Editing inventori</h1>

<%= render "form", inventori: @inventori %>

<br>

<div>
  <%= link_to "Show this inventori", @inventori %> |
  <%= link_to "Back to inventoris", inventoris_path %>
</div>
